<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ title | string | striptags }}{{ ' — ' if title }}{{ site.title }}</title>
  <link rel="icon" href="/favicon.ico">
  {# @TODO: add fallback #}
  {% bricksDependencies [
    'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7/css/all.min.css',
    'https://cdn.jsdelivr.net/npm/@anydigital/atomic-bricks@^1.0.0-alpha/dist/atomic-bricks.min.css',
    '/styles.css'
  ] %}
  {% import site.bricks ~ '_gtm.njk' as gtm %}
  {{ gtm.render(site.gtmId) if site.isProd }}
</head>
<body>
  {{ gtm.render(site.gtmId, bodyFallback=true) if site.isProd }}
  {% block body %}{% endblock %}
</body>
</html>
