/* Prevent horizontal overflow and scrolling, modern way */
html, body {
  overflow-x: clip;
}

/* Ensures body takes at least the full height of the viewport (using dynamic viewport height for better mobile support) */
body {
  min-height: 100dvh;
}
