/* Prevent horizontal overflow and scrolling, modern way */
html, body {
  overflow-x: clip;
}

body {
  /* Ensures body takes at least the full height of the viewport (using dynamic viewport height for better mobile support) */
  min-height: 100dvh;

  /* Enable hyphenation and font smoothing for better typography */
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Make the body a flex container with column layout; main fills space */
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
  }
}
