{%- set fromBricks = fromBricks | default('bricks/') -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ title | striptags ~ ' | ' if title }}{{ site.title }}</title>
  <link rel="icon" href="/favicon.ico">
  {% block head %}{% endblock %}
  {% import fromBricks ~ '_gtm.njk' as gtm %}
  {{ gtm.render(site.gtmId) if site.gtmId and site.isProd }}
</head>
<body>
  {{ gtm.render(site.gtmId, bodyFallback=true) if site.gtmId and site.isProd }}
  {% block body %}{% endblock %}
</body>
</html>
