/* Prevent horizontal overflow and scrolling, modern way */
html,
body {
  overflow-x: clip;
}

body {
  /* Ensures body takes at least the full height of the viewport (using dynamic viewport height for better mobile support) */
  min-height: 100dvh;

  /* Make the body a flex container with column layout; main fills space */
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  /* Links and tables are better (safer) without hyphenation */
  a,
  table {
    hyphens: none;
  }
}
