{% macro render(navPages, curPageUrl) %}
<nav>
  {%- for entry in navPages %}
  <a href="{{ entry.url }}" {{ 'aria-current="page"' | safe if entry.url == curPageUrl }}>
    {{- entry.title | safe -}}
  </a>
  {%- endfor %}
</nav>
{% endmacro %}
{# Compatible with https://www.11ty.dev/docs/plugins/navigation/#bring-your-own-html-render-the-menu-items-manually #}
