.prose {
  /* Container-like behavior with padding and auto margins */
  width: 100%;
  padding: 1rem;
  margin-inline: auto;

  a {
    text-underline-offset: 0.1em;
    text-decoration-thickness: 1px;
    /* Don't underline links that point to anchors */
    &[href^="#"] {
      text-decoration: none;
    }
    &:hover {
      text-decoration-thickness: 2px;
    }

    small,
    sup,
    sub {
      font-weight: 300;
      /* Workaround to prevent underline */
      display: inline-block;
    }

    /* Helper to insert icons in links */
    i {
      height: 1em;
      vertical-align: -10%;
      margin-right: 0.25em;
      font-style: normal;
      /* Workaround to prevent underline */
      display: inline-block;

      img {
        height: 100%;
        margin: 0 !important;
      }
    }
  }

  h1 {
    small,
    sup,
    sub {
      font-size: 0.5em;
      font-weight: 300;
    }
  }

  h2:not([class]),
  h3:not([class]),
  h4:not([class]) {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 5%);
    }
  }
  h2:not([class]) {
    margin-top: 2em;

    &::before {
      width: 100vw;
      left: 50%;
      height: 0.4em;
      top: -1em;
      transform: translateX(-50%);
    }
  }
  h3:not([class]),
  h4:not([class]) {
    &::before {
      width: 10em;
      right: 100%;
      margin-right: 0.5em;
      height: 0.3em;
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(to left, rgba(0, 0, 0, 10%), rgba(0, 0, 0, 5%) 10%, transparent);
    }
  }
  h4:not([class]) {
    &::before {
      height: 0.2em;
    }
  }

  table {
    display: block;
    overflow-x: auto;
    @media (max-width: 767px) {
      padding-inline: 1.5em;
    }
  }
  th,
  td {
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: top;
    /* Workaround to widen particular columns */
    hr {
      min-width: 25ch;
      margin: 0;
      visibility: hidden;
    }
    /* Workaround for headings in Markdown tables */
    big {
      font-weight: bold;
    }

    img {
      margin-top: 0;
      margin-bottom: 0.75em;
    }
  }

  blockquote {
    font-weight: 300;

    + figcaption {
      margin-top: -1em;
      text-align: right;
      font-style: italic;
      font-weight: 300;

      &::before {
        content: "—";
        margin-right: 0.25em;
      }
    }
  }

  code[data-file] {
    &::before {
      content: attr(data-file);
      display: block;
      margin-bottom: 1.5em;
      opacity: 0.5;
      font-style: italic;
    }
  }
}
